<a *ngIf="post?.slug" [routerLink]="['/blog', post.slug]" class="post-link">
  <mat-card class="card post-card">
    <div class="image-container">
      @if (post?.image && post.image !== '') {
        <img [src]="environment.fileUrl+post.image" [alt]="post.title" class="image">
      } @else {
        <div class="image-placeholder">{{ 'posts.image' | translate }}</div>
      }
    </div>
    <mat-card-content>
      <h3 class="text-title">{{post?.title}}</h3>
      <p class="text-excerpt">{{ post?.content | truncateAndStripHtml:150 }}</p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button class="btn--primary" color="primary">{{ 'posts.readMore' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</a>
