<div class="post-detail-block content-block">
  <h1 class="post-title">{{post?.title}}</h1>
  <div class="post-level">{{ getTranslation('post.level') }}: {{post?.level}}</div>
  <div class="post-image-container">
    @if (post?.imageUrl && post.imageUrl !== '') {
      <img [src]="post.imageUrl" [alt]="post.title" class="post-image">
    } @else {
      <div class="post-image-placeholder">{{ getTranslation('post.image') }}</div>
    }
  </div>
  <div class="post-content" [innerHTML]="content"></div>
  <div class="post-original-link">{{ getTranslation('post.linkToSource') }}: {{post?.link}}</div>
</div>
