<div class="post-detail-block content-block">
  <h1 class="post-title">{{post?.title}}</h1>
  <div class="post-level">{{ 'post.level' | translate }}: {{post?.level}}</div>
  <div class="post-image-container">
    @if (post?.imageUrl && post.imageUrl !== '') {
      <img [src]="post.imageUrl" [alt]="post.title" class="post-image">
    } @else {
      <div class="post-image-placeholder">{{ 'post.image' | translate }}</div>
    }
  </div>
  <div class="post-content" [innerHTML]="content"></div>
  <div class="post-original-link">{{ 'post.linkToSource' | translate }}: {{post?.link}}</div>
</div>
