body {
  font-family: "Inter", sans-serif;
  background-color: #fefaf3;

}
h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0px;
  font-weight: 700;
  color: #2d1100;
  font-family: "Inter", sans-serif;
}
img {
  max-width: 100%;
}
a,
button {
  font-size: 18px;
  line-height: 24px;
  color: #2d1100;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  transition: .3s!important;
}
a:hover,
button:hover {
  color: #f5920c!important;
}

button.btn--primary {
  border: none;
  color: #ffffff !important;
  padding: 10px 19px;
  background-image: linear-gradient(90deg, #f48d00 0%, #f73e00 100%);
  background-size: 100% 100%;
  transition: .3s;
  border-radius: 20px!important;
  font-weight: 500!important;
  font-size: var(--mat-button-protected-label-text-size, var(--mat-sys-label-large-size));
  letter-spacing: var(--mat-button-protected-label-text-tracking, var(--mat-sys-label-large-tracking));
  text-transform: var(--mat-button-protected-label-text-transform);
  min-width: unset;
  min-height: 52px;
}
button.btn--primary:hover {
color: #ffffff;
background-size: 220% 220%;
background-position: right center;
}

.btn--text {
border: none;
background: transparent;
}

.container {
max-width: 1400px;
margin: 0 auto;
}

.cdk-overlay-pane {
background-color: white;
}

.mat-mdc-select-trigger, .mat-mdc-form-field-flex {
padding: 0 10px;
}

.mdc-floating-label {
padding: 0 5px;
}

.post-detail-block .detail-block {
background: #fff;
border-radius: 20px;
box-shadow: 0 2px 12px rgba(0,0,0,0.04);
padding: 32px 24px;
margin-bottom: 32px;
}
.post-detail-function-block, .detail-function-block {
background: #fff;
border-radius: 20px;
box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
padding: 32px 24px;
}
main {
max-width: 1400px;
margin: 0 auto;
padding: 0 16px;
}
